@media (max-width: 1182px) {
  #novedades {
    padding: 0;
  }

  .info-cards {
    flex-direction: column;
  }

  .Titulo-R {
    transform: rotate(0deg);
    margin-top: 30px;
  }
  .ubicacion iframe {
    width: 400px;
    height: 400px;
  }
}

@media (max-width: 876px) {
  header {
    background-color: #111111;
  }

  .navbar {
    justify-content: space-between;
  }

  .navbar ul {
    display: none;
  }

  .navbutton {
    display: none;
  }

  .menu-hamburguesa {
    display: inline-block;
    margin: auto;
  }

  .container-img {
    margin: auto;
    display: flex;
  }
  .menu-hamburguesa .menu-hamburguesa ul {
    background-color: #282828;
  }

  .menu-hamburguesa label {
    background-color: #282828b4;
    font-size: 40px;
    font-weight: bold;
    border-radius: 1rem;
    padding: 2px 2px;
  }
}

@media (max-width: 870px) {
  .Titulo-R {
    width: 100%;
  }

  .informacion img {
    width: 600px;
  }

  #rvlc {
    margin: 0 auto;
  }

  .tercerbutton {
    display: none;
  }

  #somvlrt {
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-left: auto;
  }

  #somvlrt h2 {
    font-size: 40px;
  }

  .post {
    flex-direction: column;
  }

  .info-post p {
    flex-direction: column;
  }

  .video {
    width: 450px;
    margin-top: 10px;
    height: 300px;
  }

  .rari-button {
    display: none;
  }

  #tus-agentes {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    background-color: #ff4656;
    /* background: rgb(255, 70, 86);
    background: linear-gradient(
      101deg,
      rgba(255, 70, 86, 1) 46%,
      rgba(15, 25, 35, 1) 100% */

    background: rgb(255, 70, 86);
    background: radial-gradient(
      circle,
      rgba(255, 70, 86, 1) 70%,
      rgb(250, 250, 210) 100%
    );
  }

  .titulo-agentes {
    color: #212121;
  }

  .p-weapon,
  .better-weapon {
    color: #212121;
  }
  .better-weapon {
    justify-content: start;
    align-items: center;
    margin: 0 auto;
  }
  .p-weapon {
    width: 330px;
    letter-spacing: 3px;
  }
  #contacto {
    flex-direction: column;
    width: 100%;
  }
  .ubicacion iframe {
    width: 200px;
    height: 150px;
  }
}

.button3 {
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  #rvlcn {
    height: 300px;
  }

  .video {
    width: 350px;
    margin-top: 5px;
    height: 220px;
  }

  .informacion img {
    width: 100%;
  }

  #tus-mapas {
    background: url(valorant/breaze.jpg);
    background-size: cover;
    background-position: center;
    filter: contrast(10.15s);
  }

  .map-items {
    padding-left: 20px;
  }

  .titulo-mapas {
    font-size: 25px;
    letter-spacing: 3px;
    color: #050505;
  }
  .subtitulo-mapas {
    font-size: 17px;
    color: #080808;
  }

  .p-mapas {
    font-size: 12px;
    width: 250px;
    color: #030303;
    font-weight: bold;
    letter-spacing: 3px;
  }

  .first {
    font-size: 15px;
  }

  .redes i {
    margin-right: 5px;
  }
}

@media (max-width: 400px) {
  .form-register {
    width: 300px;
  }

  .form-register h4 {
    font-size: 15px;
    justify-content: flex-start;
    align-items: flex-start;
    width: 120px;
    padding-left: 10px;
  }

  .control {
    font-size: 13px;
  }

  .final {
    gap: 10px;
  }
}

@media (max-width: 370px) {
  .post {
    width: 100vw;
  }

  .Titulo-R {
    font-size: 40px;
    padding-left: 20px;
  }

  .titulo-agentes {
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .better-weapon {
    font-size: 15px;
  }

  .p-weapon {
    font-size: 15px;
    justify-content: flex-end;
    align-items: center;
    width: 200px;
    letter-spacing: 2px;
  }

  .exp-game {
    width: 330px;
  }

  .video {
    width: auto;
  }

  #tus-mapas {
    width: 0 auto;
  }

  .button-maps {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
@media (max-width: 326px) {
  .navbar {
    width: 100%;
  }

  .pres-videos {
    width: 100%;
  }

  #rvlcn {
    background-size: 100%;
    width: 100%;
    height: 40vh;
  }

  .exp-game {
    width: 320px;
  }

  #tus-agentes {
    width: 100%;
  }

  #tus-mapas {
    width: 100%;
  }

  .footer-container {
    width: 100%;
  }
  .first a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
  }
  .codes a {
    font-size: 15px;
  }
}
